* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --orange-primary: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 9%, 34%);
  --dark-blue: hsl(213, 19%, 18%);
  --verydark-blue: hsl(216, 12%, 8%);
}

body {
  background-color: var(--verydark-blue);
  color: var(--white);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Overpass, sans-serif;
}

.section {
  max-width: 40rem;
  padding: 4rem;
  background-color: var(--dark-blue);
  margin: 2rem 0;
  border-radius: 2rem;
  /* border-radius: 2rem;
  transition: all 2000ms; */
}

.star {
  background-color: var(--medium-grey);
  padding: 1.6rem;

  border-radius: 50%;
}

.head {
  font-size: 2.4rem;
  padding: 2rem 0;
  color: var(--white);
}

.msg {
  font-size: 1.6rem;
  line-height: 3.2rem;
  color: var(--light-grey);
}

.btn {
  height: 4rem;
  width: 4rem;
  border: none;
  background-color: var(--medium-grey);
  border-radius: 50%;
  color: var(--light-grey);
  margin: 2rem 1rem;
  font-weight: 700;
  font-size: 1.6rem;
  transition: all 600ms;
  cursor: pointer;
}

.submit-btn {
  background-color: var(--orange-primary);
  color: var(--white);
  padding: 1.6rem 12rem;
  border: none;
  border-radius: 2rem;
  font-weight: 700;
  letter-spacing: 0.4rem;
  transition: all 600ms;
  cursor: pointer;
}

.thanks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.thank-you {
  width: 20rem;
}

.rated-shi {
  background-color: var(--medium-grey);
  padding: 0.8rem 2rem;
  font-size: 1.6rem;
  color: var(--orange-primary);
  margin: 2rem 0;
  border-radius: 1.6rem;
  font-weight: 700;
}

.app-msg {
  text-align: center;
}

.attribution {
  font-size: 1.2rem;
  margin: 2rem 0;
}

.submit-btn:hover,
.submit-btn:active {
  background-color: var(--white);
  color: var(--orange-primary);
}

.btn:hover {
  background-color: var(--orange-primary);
  color: var(--white);
}

.btn--selected {
  background-color: var(--light-grey);
  color: var(--white);
}

.hidden {
  display: none;
  transform: translatey(100rem);
}

.section2 {
  display: none;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-100%);
  transition: all 600ms;
}

.open-section .section2 {
  display: block;
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.spinner {
  margin: 5rem auto;
  text-align: center;
}
.spinner img {
  height: 6rem;
  width: 6rem;
  fill: var(--orange-primary);
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* MEDIA QUERIES  */

@media (max-width: 31.25em) {
  .section {
    max-width: 35rem;
  }

  .head {
    font-size: 2rem;
  }
  .msg {
    font-size: 1.4rem;
  }

  .btn {
    margin: 2rem 0.2rem;
  }

  .submit-btn {
    padding: 1.6rem 8rem;
  }
}
@media (max-width: 23.75em) {
  .section {
    padding: 2rem 1rem 2rem 1.8rem;
    max-width: 30rem;
  }

  .head {
    font-size: 1.8rem;
  }

  .msg {
    font-size: 1.2rem;
    line-height: 1.6rem;
    max-width: 26rem;
  }

  .btn {
    margin: 2rem 0.1rem;
    height: 3rem;
    width: 3rem;
  }

  .submit-btn {
    padding: 1rem 6rem;
  }

  .thank-you {
    width: 16rem;
  }
}
@media (max-width: 18.75em) {
  .section {
    max-width: 26rem;
  }

  .thank-you {
    width: 14rem;
  }
}
